
watch_file requirements.txt
watch_file *.py
watch_file flake.nix

use flake . --override-input devenv-root "file+file://"<(printf %s "$PWD")
pip install --extra-index-url http://100.95.241.19 --trusted-host 100.95.241.19 -r requirements.txt
